*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#linkedin{
  width: 15px;
  height: 15px;
}

#github{
  width: 17px;
  height: 18px;
}

#stackoverflow{
  width:19px;
  height: 19px;
}
body{
  background:#fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  /* height: 100vh; */
}

header{
  background: url(HERO.jpg) no-repeat center;
  background-size: cover;
  height: 508px;
  border: 1px solid #454946;
  margin-bottom: 6px;
  z-index:1;
}

header::after{
  position: relative;
  top:0;
  content:"";
  z-index:2;
  background:black;
  height: 508px;
  opacity:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  line-height: 49px;
  margin:0;

}

h2{
  background: #396362;
  color:#fff;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
  margin: 0 0 39px 0;
  display: inline-block;
}

h3{
  color:#396362;
  font-size: 21px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
  margin: 43px 0 43px 0;
}

h4{
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 29px;
  margin: 4px 0 0 0;
}

h5{
  font-weight: 400;
  line-height: 32px;
  color: #4b8e8d;
  margin: 12px 0 0 0;
  align-self: self-start;
}

h6{
  margin: 0;
  font-size: 21px;
  line-height: 32px;
}

p{
  font-family: 'Montserrat', sans-serif;

  line-height: 29px;
  margin-top:5px;
}

span{
  font-family: 'Roboto', sans-serif;
  line-height: 29px;
  color: #396362;
  font-weight: bold;
}

ul{
  display: flex;
  padding: 0;
  list-style-type: none;
}

li{
  color: black;
  font-weight: bold;
  background: none;
  line-height: 29px;
  margin: 4px 0 4px 0;
  }



a{
  color: #4b8e8d;
  font-weight: bold;
}

footer{
  background: #465881;
  padding: 58px 36px 56px 36px;
  text-align: center;
}

/* figure {
  width: 80px;
  display: flex;
  align-items: center;
  margin: 0 12px 0 0;
} */



footer h3{
  color: #FFF;
}

footer h5{
  color: #FFF;
}

footer p{
  color: #FFF;
  line-height: 29px;
}

/* .line {
  width: 70px;
  height: 4px;
  background: #4b8e8d;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4b8e8d;
  margin-left: -3px;
} */


.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 41px;
  position: absolute;
  top: 180px;
  z-index: 3;

}

.link-icons{
  display: flex;
  position: absolute;
  top: 117px;
  left: 150px;
  z-index: 4;
  }

.link-icons a{
  border: solid 3px white;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  margin-right:5px;
  display: flex;
  align-items: center;
   justify-content: center;
}

.hero-text p{
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 20px 0 0;
  line-height: 15px;
}

.hero-text span{
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.me{
  padding: 58px 36px 56px 36px;
  background:#eeeeee;
}

.tech{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 58px 36px 56px 36px;
  text-align: center;
}

.projects{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 36px 56px 36px;
  background:#eeeeee;
  width: 100%;
}

.project-p{
  text-align: left;
  margin-top: 12px;
}

.project-container{
  margin-bottom: 35px;
}

.project-container li{
  background: #ffe7d1;
  margin-right:6px;
  text-align: left;
  font-size: 9px;
  line-height: 10px;
  padding: 4px;
}
.my-words{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 36px 56px 36px;
  width: 100%;
}

.project-img{
  height: 179px;
  width: 303px;
  margin-bottom: 20px;
}
.my-words h3{
  margin: 63px 0 23px 0;
}

.my-words p{
line-height: 32px;
}

.my-words ul{
  display: flex;
  flex-direction: column;
}

.my-words span{
  color: #4b8e8d;
  font-weight: 400px;
  line-height: 29px;
  font-weight: 400;
}

.skills{
  background: #eeeeee;
  padding: 58px 36px 56px 36px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width:100%;
}

.skills h2{
  margin: 0 150px 36px 150px;
}

.skills ul{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.skills li{
  background: none;
  margin: 0 6px 0 6px;
  text-align: center;
}

.more-info{
  background: #FFF;
  padding: 58px 36px 56px 36px;
  background: #FFF;
  padding: 58px 36px 56px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact{
  display: flex;
  flex-direction: row;
  margin: 0;
}

.contact li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
}

.contact a{
  border: solid 3px #396362;
  background: #FFF;
  border-radius: 50%;
  width: 59px;
  height: 58px;
  margin: 0 6px 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #396362;
}

.contact-text li{
  background: none;
  color: #396362;
}

footer a{
  text-decoration: none;
  color: #FFF;
  font-weight: 100;
}

#profilepic{
  position: absolute;
  top: 380px;
  width: 159px;
  height:auto;
  border: solid 3px white;
  border-radius: 50%;
  left: 150px;
  z-index: 4;
}
#img-me{
  border: solid 2px white;
  border-radius: 50%;
}

#upcoming{
  margin: 50px 0 0 0;
  color: #396362;
  font-weight: bold;
}

/*MEDIA QUERIES*/

@media (min-width: 370px){
  
  .link-icons{
    left: 200px;
  } 

  #profilepic{
    left: 180px;
  }

@media (min-width: 760px){
  .link-icons{
    left: 550px;
  }

  #profilepic{
     left: 500px;
 }

 .me{
   width:100%;
    padding: 58px 86px 56px 86px;
 }

 .tech{
  padding: 58px 86px 56px 86px;
 }

 .projects{
  padding: 58px 86px 56px 86px;
 }

 .my-words{
  padding: 58px 86px 56px 86px;
 }

 .my-words ul {
  align-self: flex-start;
}

 .skills h2 {
  margin: 0 300px 36px 300px;
}


/* .project-container {
  width: 100%;
} */
/* .other-projects{
  width: 100%;
} */

}

@media (min-width: 979px) {

  .link-icons {
    left: 650px;
}
.hero-text{
  padding-left: 150px;
}
#profilepic {
  left: 600px;
}

.me {
  padding: 58px 140px 56px 140px;
}
.skills h2 {
  margin: 0 400px 36px 400px;
}

h6{
  align-self: flex-start;
}
.projects {
  padding: 58px 140px 56px 140px;
}
.my-words {
  padding: 58px 140px 56px 140px;
}

.my-words ul {
  align-self: flex-start;
}

.my-words p{
  align-self: flex-start;
}

@media (min-width: 1200px) {
  .hero-text {
    padding-left: 250px;
}

.link-icons {
  left: 750px;
}

.me {
  padding:  58px 150px 56px 150px;
}

.projects {
  padding: 58px 280px 56px 280px;
}

.my-words{
    padding: 58px 280px 56px 280px;
}

.my-words p{
  align-self: flex-start;
}

.skills{
    padding: 58px 280px 56px 280px;
}

}

@media (min-width: 1400px) {
.link-icons{
  left: 900px;
}

.hero-text {
  padding-left: 300px;
}

#profilepic {
  left: 850px;
}

h5{
  font-size: 17px;
}
/* .project-p{ */
    /* padding-left: 120px; */
    /* width: 800px; */
/* } */

/* ul{
    padding-left: 120px;
} */

.projects {
  padding: 58px 355px 56px 355px;
}

.my-words {
  padding: 58px 350px 56px 350px;
}

.my-words ul{
  padding-left: 0;
}

.my-words p{
 align-self: flex-start;
}
  
.skills ul{
  padding-left: 0;
}

.contact{
  padding: 0;
}
}

@media (min-width: 1679px) {

  .link-icons {
    left: 1100px;
}

.hero-text {
  padding-left: 400px;
}

#profilepic {
  left: 1000px;
}

  .hero-text p {
    font-size: 32px;
  }

  .hero-text span {
    color: #FFF;
    font-size: 28px;
  }

  h1 {
    font-size: 52px;
  }

  .me {
    padding: 58px 350px 56px 350px;
}

.projects {
  padding: 58px 490px 56px 490px;
}

.my-words {
  padding: 58px 490px 56px 490px;
}
.my-words ul {
  /* padding-left: 0; */
  /* text-align: center; */
  align-self: flex-start;
}

.my-words p{
  align-self: flex-start;
}

.skills {
  padding: 58px 380px 56px 380px;
}

footer h5{
font-size: 22px;
}
footer h3 {
  font-size: 32px;
}
}

@media (min-width: 1919px) {

  .link-icons {
    left: 1200px;
}

.hero-text {
  padding-left: 420px;
}

#profilepic {
  left: 1100px;
  width: 200px;
  top: 350px;
}

.link-icons a {
  width: 45px;
  height: 45px;
}

#linkedin{
  width: 20px;
  height: 20px;
}

#github{
  width: 22px;
  height: 23px;
}

#stackoverflow{
  width:22px;
  height: 22px;
}

body{
  font-size: 22px;
}

.projects {
  padding: 58px 510px 56px 510px;
}

  .my-words {
    padding: 59px 500px 56px 500px;
}

.my-words ul{
  align-self: flex-start;
}

.my-words p{
  align-self: flex-start;
}


h2{
  font-size: 32px;
  margin: 0 200px 70px 200px;
}

.skills h2 {
  margin: 0 400px 70px 400px;
} 

h3{
  font-size: 30px;
}
h5{
  font-size: 24px;
}

h6{
  font-size: 22px;
}

.skills {
  padding: 58px 420px 56px 420px;
}
footer h5 {
  font-size: 28px;
}

.project-container li {
  font-size: 14px;
  margin-top:7px;
  margin-bottom: 14px;
}
}