body{
  background:#fff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

article{
  background:#eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#img-me{
  border: solid 2px white;
  border-radius: 50%;
}

h1{
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  line-height: 49px;
  margin:0;
}

h2{
  background: #396362;
  color:#fff;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
}

h3{
  color:#396362;
  font-size: 21px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h4{
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 29px;
  margin: 4px 0 0 0;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 29px;
}

span{
  font-family: 'Roboto', sans-serif;
  size: 17px;
  line-height: 29px;
  color: #396362;
  font-weight: bold;
}
.code-box{
  background: #f6c89f;
  margin-right:3px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  size: 9px;
}

.code-input{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* img{
  height: 179px;
  width: 303px; */
/* } */

.github-hero{
  position: absolute;
  left: 52px;
}

.stackoverflow-hero{
  position: absolute;
  left: 10px;
}

.linkedin-container{
  border: solid 3px white;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  margin-right:5px;
  /* position: absolute;
  top: 105px;
  left: 210px; */
}

.linkedin-container a{
  position: absolute;
  top: 12px;
  left: 12px;
}


.github-container{
  border: solid 3px white;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  margin-right:5px;
  /* position: absolute;
  top: 105px;
  left: 254px; */
}

.github-container a{
  position: absolute;
  top: 12px;
  left: 12px;
}
.stackoverflow-container{
  border: solid 3px white;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  margin-right:5px;
}

.stackoverflow-container a{
  /* position: absolute;
  top: 12px;
  left: 12px; */
}


#profilepic{
  position: absolute;
  left: 176px;
  top: 359px;
  width: 159px;
  height:auto;
  border: solid 3px white;
  border-radius: 50%;
}

.hero{
  background: url(HERO.jpg) no-repeat center;
  background-size: cover;
  height: 508px;
  border: 1px solid #454946;
  margin-bottom: 6px
}

.hero-overlay{
  background:black;
  height: 508px;
  opacity:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 41px;
}

.link-icons{
  position: absolute;
  top: 117px;
  left:222px;
  display: flex;
}

.portfolio-text{
  display: flex;
}

.portfolio p{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 20px 0 0;
}

.name p{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.about-me{
  padding: 58px 36px 56px 36px;
  background:#eeeeee;
}

.tech{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 36px 56px 36px;
  text-align: center;
}

.projects{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 36px 56px 36px;
}

.project-p{
  text-align: left;
}

.project-container{
  margin-bottom: 35px;
}

.my-words{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}