body{
  background:#fff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header{
  background: url(HERO.jpg) no-repeat center;
  background-size: cover;
  height: 508px;
  border: 1px solid #454946;
  margin-bottom: 6px
}


article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1{
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  line-height: 49px;
  margin:0;
}

h2{
  background: #396362;
  color:#fff;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
  margin: 0 0 39px 0;
  display: inline-block;
}

h3{
  color:#396362;
  font-size: 21px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
  margin: 43px 0 43px 0;
}

h4{
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 29px;
  margin: 4px 0 0 0;
}

h5{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: #4b8e8d;
  margin: 12px 0 0 0;
  align-self: self-start;
}

h6{
margin: 0;
font-size: 21px;
font-family: 'Roboto', sans-serif;
line-height: 32px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 29px;
  margin:0;
}

span{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #396362;
  font-weight: bold;
}


li{
  background: #ffe7d1;
  margin-right:6px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 10px;
  padding: 4px
}

ul{
  display: flex;
  padding: 0;
  list-style-type: none;
}

a{
  color: #4b8e8d;
  font-weight: bold;
}

footer{
  background: #465881;
  padding: 58px 36px 56px 36px;
  text-align: center;
}

footer h3{
  color: #FFF;
}

footer h5{
  color: #FFF;
  font-size: 17px;
}

footer p{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 29px;
}

.hero-overlay{
  background:black;
  height: 508px;
  opacity:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 41px;
}

.link-icons{
  display: flex;
  position: absolute;
  top: 117px;
  left: 200px;
  }

.link-icons a{
  border: solid 3px white;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  margin-right:5px;
  display: flex;
  align-items: center;
   justify-content: center;
}

.hero-text p{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 20px 0 0;
}

.hero-text span{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.about-me{
  padding: 58px 36px 56px 36px;
  background:#eeeeee;
}

.tech{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 36px 56px 36px;
  text-align: center;
}

.projects{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 36px 56px 36px;
  background:#eeeeee;
}

.project-p{
  text-align: left;
}

.project-container{
  margin-bottom: 35px;
}

.my-words{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 36px 56px 36px;
}

.my-words h3{
  margin: 63px 0 23px 0;
}

.my-words p{
font-family: 'Roboto', sans-serif;
font-size: 17px;
line-height: 32px;
}

.my-words ul{
  display: flex;
  flex-direction: column;
}

.my-words li{
  color: black;
  font-weight: bold;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 29px;
  margin: 4px 0 4px 0;
  }

.my-words span{
  color: #4b8e8d;
  font-weight: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
}

.skills{
  background: #eeeeee;
  padding: 58px 36px 56px 36px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.skills h2{
  margin: 0 150px 36px 150px;
}

.skills ul{
  display: flex;
  flex-direction: column;
}

.skills li{
  background: none;
  margin: 0 6px 0 6px;
  font-size: 17px;
  text-align: center;
}

.more-info{
  background: #FFF;
  padding: 58px 36px 56px 36px;
  background: #FFF;
  padding: 58px 36px 56px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact{
  display: flex;
  flex-direction: row;
  margin: 0;
}

.contact li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
}

.contact a{
  border: solid 3px #396362;
  background: #FFF;
  border-radius: 50%;
  width: 59px;
  height: 58px;
  margin: 0 6px 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #396362;
}

.contact-text li{
  background: none;
  color: #396362;
}

#profilepic{
  position: absolute;
  left: 176px;
  top: 359px;
  width: 159px;
  height:auto;
  border: solid 3px white;
  border-radius: 50%;
}
#img-me{
  border: solid 2px white;
  border-radius: 50%;
}

#upcoming{
  margin: 50px 0 0 0;
  color: #396362;
  font-weight: bold;
}


/*MEDIA QUERIES*/

@media (min-width: 650px){

.link-icons {
  left: 380px;
}

#profilepic {
  left: 356px;
}

.about-me {
  padding: 58px 100px 56px 100px;
}

.projects {
  padding: 58px 100px 56px 100px;
}

.my-words {
  padding: 58px 100px 56px 100px;
}

.skills {
  padding: 58px 75px 56px 75px;
}

@media (min-width:900px){
.hero-overlay {
  padding: 0 400px 0 400px;
  }
   
  
.hero-text h1{
 width: min-content;
  }

  .portfolio-text p {
    font-size: 33px;
  }

 .link-icons {
  left: 540px;
}

#profilepic {
  left: 500px;
}


}